<nav class="navbar navbar-static-top navbar-dark bg-inverse" data-st-component="navbar">
    <a class="navbar-brand" href="#"><img src="../img/logo-icon-32.png" alt=""/></a>
    <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#" onclick="Staple.Mount.partial('pages/home.html','#content')">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  onclick="Staple.Mount.partial('pages/features.html','#content')" href="#">Features</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="examples.html">Examples</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Documentation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Download</a>
        </li>
    </ul>
</nav>
<div data-block="content"></div>
